.conteudo {
    align-content: center;
    margin-top: 1em;
    width: 88%;
    margin: 0 auto;
    display: block;
    
}

.item {
    width: 150px;
    height: 250px;
    margin: 20px;
    background: #fff;
    border: 1px solid gray;
    
}

.categoria {
    width: 95%;
    padding: auto 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #FFF;
    margin: auto;
    color: #FFF;
}

