#caixa-adicionar {
    background: gray; 
    font-size: 2.0em; 
    text-align: center;
    border: 3px solid #fff;
    float: left;
    width: 150px;
    height: 250px;
    margin: 20px;
    border: 1px solid gray;
    
}



#caixa-adicionar a {
    color: #fff;
    text-decoration: none;
    
}

.categoria h1{
    color: #FFF;
    margin-left: 1em;
}
.categoria a{
    color: #FFF;
    text-decoration: none;
    vertical-align: baseline;
    margin-right: 1em;
}

.categoria a:hover{
    background: rgba(18, 204, 210, 0.5);
    text-decoration: none;
    margin-bottom: 5px;
    padding: 2px;
    border-radius: 10px;
}