#area-cadastro {
    width: 25vw;
    height: fit-content;
    background: rgba(70, 167, 222, 0.6);
    border-radius: 20px;
    margin-right: 5em;
    padding: 20px;
    color: #fff;
    font-size: 0.8em;
}

#area-cadastro h2 {
    /* padding: 20px; */
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}

.area-form {
    width: 25em;
    height: fit-content;
    background: rgba(70, 167, 222, 0.6);
    border-radius: 20px;
    margin-right: 5em;
    padding: 2em;
    color: #fff;
    text-align: left;
    font-size: 0.8em;
}

.area-form h2 {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}


form input{
    display: block;
    width: 100%;
    background: rgba(10, 66, 62, 0.7);
    border-radius: 50px;
    height: 2.5em;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    border: none;
    margin: 0.5em auto 1em;
}

form label {
    padding: 5px;
    margin-left: 1em;
    text-transform: uppercase;
}

form input[type="submit"] {
    width: 50%;
    height: 2.5em;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    margin: 20px auto;
    border-color: rgba(10, 255, 240, 0.7);
    cursor: pointer;
}

form button {
    width: 10em;
    height: 2.5em;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    margin: 1.5em auto;
    border: none;
    cursor: pointer;
}